*{
    margin: 0px;
    padding: 0px;
}
nav{
    height: 75px;
    background-color: black;
    color: white;
    margin: 0 550px 0 550px;

}
h1{
    text-align: center;
}

.container{
    display: flex;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
}
.top{
    text-align: center;
    margin-top: 30px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    width: 75px;
    height: 30px;
}
.down {
    margin-top: 30px;
}
.person{
    height: 160px;
    width: 80px;
    border: solid 4px black;
    padding: 20px;
    gap: 10px;
}
img {
    width: 50px;
    border-radius: 50%;
    
}

.box{
    width: 500px;
    height: 100px;
    border: solid 4px black;
    padding: 40px 80px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.likes{
    display: flex;
    gap: 20px;
}
button{
    background-color: orange;
    box-shadow: 4px 4px black;
}


